body {
  background-color: #1c1c1c;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#content {
  background-color: #2a2a2a;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 450px;
  text-align: center;
}

img {
  max-width: 100%;
  margin-bottom: 20px;
}

label {
  color: #ccc;
  font-size: 14px;
  display: block;
  text-align: left;
  margin: 10px 0 5px;
}

input {
  width: calc(100% - 10px);
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  color: #000;
  font-size: 14px;
}

button {
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

.buttons-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Para que los botones puedan hacer saltos si es necesario */
  margin-bottom: 15px;
}

#output {
  text-align: left;
  background-color: #333;
  padding: 10px;
  color: #eee;
  border-radius: 5px;
  white-space: pre-wrap;
}
